@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Use of Site

    The services of the Sites are available only to individuals who can form legally binding contracts under applicable law, 
    and thus, are not available to minors. By using the Sites, you represent that you are of sufficient legal age to use the 
    Sites and to create binding legal obligations for any liability you may incur as a result of the use of the Sites. 
    You also warrant that you are legally authorized to make the travel reservations and purchases for either yourself or for 
    another person for whom you are authorized to act.
</p>
